@import "./variables.scss";

.text-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .text-input-field {
    input {
      border-radius: 3px;
      border: none;

      &:focus {
        border: none;
      }
    }
  }
}
