@import url("http://fonts.cdnfonts.com/css/bahnschrift");
@import "./_flyout";
@import "./_textInput";
@import "./_creditView";
@import "./variables.scss";
@import "./accountMenu.scss";
@import "./_radioButton";
@import "./_card";

body {
  background-color: $background-color;
  color: $text-default-color;
  font-family: "Bahnschrift", sans-serif;
  margin: 0;
}

.chart-container {
  canvas {
    height: 100%;
    width: 100%;
  }
}

.menu-button-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  svg {
    height: 2rem;
    width: 2rem;
  }
}

.container {
  display: flex;
  // justify-content: space-evenly;
  // flex-direction: column;
  // align-items: center;
  padding: 4rem 4rem 4rem 4rem;
  // height: 100vh;
}

.legend-container {
  .legend-item-container {
    display: flex;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    min-width: 127px;

    .legend-item-text {
      margin-left: 1rem;
    }

    .legend-item-circle {
      height: 2rem;
      width: 2rem;
      border-radius: 50px;
    }
  }
}

.menu-container {
  padding: 1rem;

  .menu-header-container {
    display: flex;
    align-items: center;

    .icon {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      svg {
        height: 2rem;
        width: 2rem;
      }
    }

    h1 {
      margin-left: 1rem;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 0.5rem 0 0.5rem 0;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    span {
      margin-top: -0.15rem;
    }

    .icon {
      margin-right: 1rem;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

.asset-class-item {
  background-color: $lighter-secondary-background;
  border-radius: 3px;
  padding: 1rem;
  margin: 0.75rem 0rem 0.75rem 0rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    transform: scale(1.01);
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .asset-buttons-container {
    display: flex;
    align-items: center;

    .icon {
      height: 24px;
      cursor: pointer;
      margin-left: 0.5rem;

      &:hover {
        opacity: 0.75;
      }
    }

    .sync-icon {
      height: 18px;

      &__active {
        @extend .sync-icon;
        svg {
          animation: spinner 1s linear infinite;
        }
      }
    }
  }
}

.add-class-button {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 1.2rem 0 0.5rem 0;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  span {
    margin-top: -0.15rem;
  }

  .icon {
    margin-right: 0.5rem;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.add-new-class-container {
  display: flex;
  flex-direction: column;
  background-color: $lighter-secondary-background;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  button {
    width: 10rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  input {
    width: 15rem;
    height: 1.5rem;
  }

  span {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.button-primary {
  height: 2rem;
  cursor: pointer;
}

.menu-item-circle {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
}

.class-color-picker-container {
  position: absolute;
  margin-top: 1rem;
  margin-left: -11rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
