$background-color: #191819;
$secondary-background-color: #4e2f75;
$text-default-color: #b5b5b5;
$lighter-secondary-background: #653c97;
$highlight-color: #cebc18;
$plaid-button-color: #111111;
$plaid-button-text: #fff;
$white: #fff;
$green: #3b943b;
