$background-color: #191819;
$card-background: #2b292b;
$secondary-background-color: #4e2f75;
$text-default-color: #b5b5b5;
$lighter-secondary-background: #653c97;
$highlight-color: #cebc18;
$plaid-button-color: #111111;
$plaid-button-text: #fff;
$white: #fff;
$green: #3b943b;
$cardshadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$cardshadowII: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
